.time-display {
    font-family: 'Microsoft YaHei';
    font-size: 3rem;
    font-variant-numeric: tabular-nums; /* 等宽数字 */
    color: var(--fd-text-main);
    margin: 10px 0;
}
.date-display {
    font-size: 1.2rem;
    margin-bottom: 20px;
}