@font-face { /* 定义字体 */
    font-family: 'LXGW WenKai GB';
    src: url('https://cdn.jsdelivr.net/gh/lxgw/LxgwWenkaiGB@main/fonts/LXGWWenKaiGB-Medium.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
body {/* 应用字体 */
    font-family: 'LXGW WenKai GB', 'Microsoft YaHei', sans-serif;
    font-size: 16px;
    line-height: 1.6;
}

