.container{
            background-color:#2a2219cc;
            backdrop-filter: blur(5px);
}
body{
    background: url(https://flashdragons.github.io/assets/pics/bg_mc.jpg)fixed;
    background-size: 100%;
    color:#c2e4ff;
}
a:link{
    color: #0d6efd;/*未访问*/
}
a:visited{
    color: #ff72ff;/*已访问*/
}
a:hover{
    color: #f73809;/*鼠标悬停时*/
}
a:active{
    color: darkorange;/*被点击瞬间*/
}
.site-footer{
    background-color: darkgreen;
    color:aliceblue;
}