.sunju_facemall_main{position:relative;margin:0 auto;}.sunju_facemall_main img.sunju_face{border-radius:50%!important;box-shadow:none!important;background:none!important;padding:0!important;border:none!important;}.sunju_facemall_main .sunju_facemall{display:none;position:absolute!important;z-index:0!important;border-radius:unset!important;box-shadow:none!important;background:none!important;padding:0!important;border:none!important;max-width:none!important;max-height:none!important;}

/*
     FILE ARCHIVED ON 03:11:06 Jan 11, 2026 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 03:35:11 Jan 26, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 1.285
  exclusion.robots: 0.021
  exclusion.robots.policy: 0.014
  esindex: 0.008
  cdx.remote: 84.953
  LoadShardBlock: 64.935 (3)
  PetaboxLoader3.datanode: 95.025 (4)
  PetaboxLoader3.resolve: 65.575 (2)
  load_resource: 100.645
*/